<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diabetic Retinopathy Detection</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="static/css/index_style.css">
</head>
<body>
    <header>
        <div class="container">
            <h1>Diagnosis of Diabetic Retinopathy</h1>
            <nav>
                <ul>
                    <form>
                        <li><a href="/">Home</a></li>
                        <li><a href="/scan">Scan</a></li>
                        <li><a href="/about_us">About us</a></li>
                    </form>

                </ul>
            </nav>
        </div>
    </header>

    <section id="hero">
        <div class="container">
            <h2>Early Detection, Better Protection</h2>
            <p>Use our tool for early diabetic retinopathy detection and safeguard your vision.</p>
        </div>
    </section>

    <section id="intro-dr">
        <div class="container intro-dr-container">
            <div class="intro-text">
                <h2>Understanding Diabetic Retinopathy</h2>
                <p>Diabetic retinopathy is a complication of diabetes, caused by high blood sugar levels damaging the back of the eye (retina). It can cause blindness if left undiagnosed and untreated. The manual diagnosis process of DR is time and cost consuming process, it's also prone to misdiagnosis. So we have used a deep learning approach to detect Diabetic Retinopathy. We aim to make DR assessments faster and more precise, greatly lowering the chance of errors. This helps in detecting the disease early and can significantly reduce the risk of vision loss.</p>
                <br>
                <a href="/know_more" class="btn">Learn More</a> <!-- New CTA button -->
            </div>
            <div class="intro-image">
                <img src="static/images/dr-intro3.jpeg" alt="Diabetic Retinopathy" style="max-width:100%;height:auto;">
            </div>
        </div>
    </section>

    <section id="features">
        <div class="container">
            <div class="feature-item">
                <img src="static/images/accur1.jfif" alt="High Accuracy">
                <h3>High Accuracy</h3>
                <p>Our tool provides highly accurate diagnostic results.</p>
            </div>
            <div class="feature-item">
                <img src="static/images/easy.png" alt="Ease of Use">
                <h3>Easy to Use</h3>
                <p>A user-friendly platform designed for both professionals and patients.</p>
            </div>
            <div class="feature-item">
                <img src="static/images/clock.png" alt="Fast Results">
                <h3>Fast Results</h3>
                <p>Get instant results, facilitating prompt decision-making and treatment planning.</p>
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <p>© 2024 Diabetic Retinopathy Detection. Empowering early detection for a brighter future.</p>
        </div>
    </footer>
</body>
</html>
